body{
  background-color: #191C23;
  padding: 0px;
  margin: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  background-color: #191C23;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

h1 {
  margin-left: 250px;
  color: #A8F853;
}

ul {
  list-style: none; 
}

ul a {
  text-decoration: none;
  color: #A8F853;
  font-weight: bold;
  margin-right: 250px;
}
#container {
  text-align: center;  
  border: 2px solid #fbfcfa;
  padding: 20px;  
  max-width: 400px;  
  margin: 0 auto;
}
p {
  color: #f2f5f0;
  font: bold;
}
label{
  color: #A8F853;
}

button {  
  color: #A8F853;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color:#191C23;
  padding: 5px;
}

