body{
  background-color: #191C23;
  padding: 0px;
  margin: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  background-color: #191C23;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

h1 {
  margin: 0;
  color: #A8F853;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: #A8F853;
  font-weight: bold;
  margin-left: 20px;
}

.loginSenha {
  display: flex; 
  align-items: flex-start;
  color :#A8F853;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  width: 50%;
  margin-left: 300px;
}

button {
  padding: 10px;
  background-color: #191C23;
  color: #A8F853;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:  #778569;
}

img {
  width: 150px;
}
